@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
        <nav class=" fixed-bottom " style="margin-top:10px" >
            <div class="content">
                <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div id="cookieConsent" class="alert alert-primary alert-dismissible fade show"  role="alert">
                        <strong>Holy cookie!</strong> Use this space to summarize your privacy and cookie use policy.

                        <div>
                            <a asp-controller="Home" asp-action="Privacy" class="btn btn-rose navbar-btn">Learn More</a>
                            <button class="btn btn-rose pull-right" data-dismiss="alert" data-cookie-string="@cookieString">Accept</button>
                        </div>

                    </div>
                </div>
            </div>
                </div>
            </div>
        </nav>
        <script>
            (function () {
                document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                    document.cookie = el.target.dataset.cookieString;

                }, false);
            })();
        </script>
        }
