@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " >
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div id="cookieConsent" class="alert alert-warning alert-dismissible fade show" style="width:100%" role="alert">
                        <strong>Holy cookie!</strong> Use this space to summarize your privacy and cookie use policy.

                        <div>
                            <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Learn More</a>
                            <button class="btn btn-success pull-right" data-dismiss="alert" data-cookie-string="@cookieString">Accept</button>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
        <script>
            (function () {
                document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                    document.cookie = el.target.dataset.cookieString;

                }, false);
            })();
        </script>
        }
