@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    
    <li class="nav-item "><a rel="tooltip" data-original-title="Login here" asp-area="Identity" class="nav-link btn-just-icon " asp-page="/Account/Login">
    <i class="material-icons">person</i>
</a></li>
