@model NotifikacijaKorpa

@if (Model != null)
{


    <li class="dropdown nav-item">
        <a href="#pablo" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">

            <span class="badge badge-pill badge-rose"> <i class="material-icons">shopping_cart</i> 1</span>
            <b class="caret"></b>
            <div class="ripple-container"></div>
        </a>
        <div id="CartBody" style="width:300px" class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">Pending reservation: <span style="font-weight:bold">@Model.VoziloBrand-@Model.VoziloName</span> </h6>
            <div class="dropdown-divider"></div>
            <a href="/Klijent/Rezervacija/RezervacijaDetaljno" >
                <img src="@Model.URL_Slike" alt="Circle Image"  class="img-raised rounded img-fluid">
                
            </a>
            <h6 style="text-align:center" class="dropdown-header"><span class="text-rose" style="font-size:11px">Reservation expiring in @Model.VrijemeIstekaH h @Model.VrijemeIstekaM min</span> </h6>
        </div>
    </li>




}
else
{

    <li class="dropdown nav-item">
        <a href="#pablo" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">

             <i class="material-icons">shopping_cart</i>
            <b class="caret"></b>
            <div class="ripple-container"></div>
        </a>
        <div id="CartBody" class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">No items</h6>

        </div>
    </li>



}
