@{
    ViewData["Title"] = "Home Page";
}
<div class="page-header header-filter purple-filter" data-parallax="true" style="background-image: url('https://aaarentacarjlt.com/wp-content/uploads/2016/08/callegari-08-01-2016-usados-6.png'); transform: translate3d(0px, 100px, 0px);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>SunnyCars</h1>
                    <h3>Your Rent-A-Car house No.1</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
        </div>
    </div>
</div>
