@model RezervacijaDodajVM



            <div class="row">
                <div class="col-md-12 card">
                    <div class="card card-plain">
                        <div class="card-header card-header-info">
                            <h3 class="card-title mt-0"> Dodatne Usluge</h3>
                            <button id="C">Click</button>
                        </div>

                    </div>
                    <div class="row">


                    </div>
                </div>

            </div>


