@model PrikolicaDodajVM
@{
    ViewData["Title"] = "Dodaj";
}

<div class="card card-nav-tabs" style="width: 45rem;">
    <div class="card-header card-header-success">
        Dodaj novu prikolicu
    </div>
    <div class="col-md-12">
        <form asp-area="Uposlenik" asp-action="DodajSnimi" asp-controller="Prikolica" method="post">
            <div class="form-group">
                
            </div>
            <div class="form-group">
                <label>Sirina: </label>
                <input type="text" name="Sirina" class="form-control" />
            </div>

            <div class="form-group">
                <label>Zapremina: </label>
                <input type="text" name="Zapremina" class="form-control" />
            </div>

            <div class="form-group">
                <label>Duzina: </label>
                <input type="text" name="Duzina" class="form-control" />
            </div>

            <div class="form-group">
                <label>Cijena: </label>
                <input type="text" name="Cijena" class="form-control" />
            </div>

            <div class="form-group">
                <label>Tip prikolice: </label>
                <div>
                    <select type="text" name="TipPrikolice" class="form-control">
                        @foreach (var x in Model.tipPrikolice)
                        {
                            <option value="@x.Value"> @x.Text </option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Snimi</button>
            </div>

        </form>
    </div>
</div>

<div class="col-md-12">
    <a asp-area="Uposlenik" asp-action="Index" asp-controller="Prikolica">Back to List</a>
</div>

<script>
    document.getElementById("prikolice").className = "active";
</script>