@model DodajVoziloPrikolicaVM
@{
    ViewData["Title"] = "DodajVozilo";
}

<div class="card card-nav-tabs" style="width: 45rem;">
    <div class="card-header card-header-success">
        Dodaj vozilo za prikolicu 
    </div>
    <div class="col-md-8">
        <form asp-area="Uposlenik" asp-action="DodajVoziloSnimi" asp-controller="Prikolica" method="post">
            <div class="form-group">
            <input type="hidden" name="PrikolicaID" value="@Model.PrikolicaID" />
            </div>

            <div class="form-group">
                <label>Tip kuke: </label>
                <div>
                    <input type="text" name="tipKuke" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Tezina: </label>
                <div>
                    <input type="text" name="tezina" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Vozilo: </label>
                <div>
                    <select type="text" name="VoziloID" class="form-control">
                        @foreach (var x in Model.vozila)
                        {
                            <option value="@x.Value"> @x.Text </option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">Snimi</button>
            </div>

        </form>
    </div>
</div>
